<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">  
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
       <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
       
    </head>
<body>
<div class="container-fluid content">
        <div class="row">
                    <div id="content" class="col-sm-12 full">
            <div class="row">
                <div class="login-box">
                    
                    <div class="header">
                       admin
                    </div>
                    
                    
                    
                    <form class="form-horizontal login" action="/login" method="post" >
                        
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                <div class="controls row">
                                    <div class="input-group col-sm-12"> 
                                        
                    <input type="text" class="form-control input-lg username-field" placeholder="UserName" name="email">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>  
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="controls row">
                                    <div class="input-group col-sm-12"> 
                                        
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control input-lg password-field"/>
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    </div>  
                                </div>
                            </div>

                            <div class="confirm">
                                <input type="checkbox" name="remember"/>
                                <label for="remember">Remember me</label>
                            </div>  

                            <div class="row">
                            
                                <button type="submit" class="btn btn-lg btn-primary col-xs-12">Login</button>
                            
                            </div>
                                
                        </fieldset> 

                    </form>
                    
                    <a class="pull-left" href="/forgot">Forgot Password?</a>
                    <a class="pull-right" href="/signup">Sign Up!</a>
                    
                    <div class="clearfix"></div>                
                        
                </div>
            </div><!--/row-->
        
        </div>  
            
                </div><!--/row-->       
        
    </div>

 


</body>
 <script type="text/javascript" src="/assets/build/main.js"></script>
</html>
