<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">  
        <link rel="stylesheet" type="text/css" href="<%= mainCss %>"/>
        <script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>
    </head>
<body>
<nav class="navbar navbar-inverse" role="navigation">

    <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
            
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
        
    </ul>
  </div><!-- /.navbar-collapse -->
</div> <!-- /.container -->
</nav>



<div class="account-container stacked">
    
    <div class="content clearfix">
        
        <form action="/login" method="post">
        
            <h1>Sign In</h1>        
            
            <div class="login-fields">
                
                <p>Sign in using your registered account:</p>       
                
                <div class="field">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control input-lg username-field" placeholder="UserName" name="email">
                </div> <!-- /field -->
                    
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control input-lg password-field"/>
                </div> <!-- /password -->
                
            </div> <!-- /login-fields -->
            
            <div class="login-actions"> 
                
                <span class="login-checkbox">
                    <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                    <label class="choice" for="Field">Auto keep</label>
                </span>
                 <button type="submit" class="login-action btn btn-primary">Login</button>                   
               
                
            </div> <!-- .actions -->
            
            
            
        </form>
        
    </div> <!-- /content -->
    
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
 <a href="/forgot"> Forgot Password</a><br/>
</div> <!-- /login-extra -->



<div class="modal" id="password_modal">
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label for="current_password" class="control-label">Forgot Password</label>
            <div class="controls">
                <input type="password" name="current_password">
            </div>
        </div>
            
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button href="#" class="btn btn-primary" id="password_modal_save">Save changes</button>
    </div>
</div>



</body>
</html>
