<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="CleverAdmin - Bootstrap Admin Template">
      <meta name="author" content="Åukasz Holeczek">
      <meta name="keyword" content="CleverAdmin, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/apple-touch-icon-57-precomposed.png">
      <link rel="shortcut icon" href="assets/ico/favicon.png">
      <title>Node</title>
      <link rel="stylesheet" type="text/css" href="/assets/build/main.css">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- start: Header -->
      <div id="header" class="navbar" role="navigation">
         
      </div>
      <!-- end: Header -->
      <div class="container-fluid content">
         <div class="row">
            <!-- start: Main Menu -->
            <div id="leftNav" class="sidebar col-md-2 col-sm-1 ">
              
               <a href="index.html#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            <div class="col-md-10 col-sm-11 main ">
               <div class="row">
                  
                  <!--/.col-->      
                  <div class="col-md-9">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h2><i class="fa fa-bar-chart-o"></i>Work</h2>
                           <div class="panel-actions">
                              <a href="index.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                              <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                           </div>
                           <ul class="nav nav-tabs" id="mainCharts">
                              <li id="chart24h"><a href="index.html#24h">24h</a></li>
                              <li id="chartWeek"><a href="index.html#week">week</a></li>
                              <li id="chartMonth" class="active"><a href="index.html#month">month</a></li>
                           </ul>
                        </div>
                        <div class="panel-body no-padding-bottom">
                           <div class="tab-content">
                              <div class="tab-pane" id="24h">
                                 <div id="chart-24h" style="height:264px;width:100%;"></div>
                                 <ul class="stats">
                                    <li>
                                       <span>17.781</span>
                                       <h5>Pageviews</h5>
                                    </li>
                                    <li>
                                       <span>9.879</span>
                                       <h5>Unique Users</h5>
                                    </li>
                                    <li>
                                       <span>00:02:58</span>
                                       <h5>Avg. Visit Duration</h5>
                                    </li>
                                    <li>
                                       <span>59,83%</span>
                                       <h5>Bounce Rate</h5>
                                    </li>
                                 </ul>
                              </div>
                              <div class="tab-pane" id="week">
                                 <div id="chart-week" style="height:264px;width:100%;"></div>
                                 <ul class="stats">
                                    <li>
                                       <div class="bgchart" id="statsbg1" style="height:93px;width:100%;"></div>
                                       <span>17.781</span>
                                       <h5>Pageviews</h5>
                                    </li>
                                    <li>
                                       <div class="bgchart" id="statsbg2" style="height:93px;width:100%;"></div>
                                       <span>9.879</span>
                                       <h5>Unique Users</h5>
                                    </li>
                                    <li>
                                       <div class="bgchart" id="statsbg3" style="height:93px;width:100%;"></div>
                                       <span>00:02:58</span>
                                       <h5>Avg. Visit Duration</h5>
                                    </li>
                                    <li>
                                       <div class="bgchart" id="statsbg4" style="height:93px;width:100%;"></div>
                                       <span>59,83%</span>
                                       <h5>Bounce Rate</h5>
                                    </li>
                                 </ul>
                              </div>
                              <div class="tab-pane active" id="month">
                                 <div id="chart-month" style="height:264px;width:100%;"></div>
                                 <ul class="stats">
                                    <li>
                                       <span>17.781</span>
                                       <h5>Pageviews</h5>
                                    </li>
                                    <li>
                                       <span>9.879</span>
                                       <h5>Unique Users</h5>
                                    </li>
                                    <li>
                                       <span>00:02:58</span>
                                       <h5>Avg. Visit Duration</h5>
                                    </li>
                                    <li>
                                       <span>59,83%</span>
                                       <h5>Bounce Rate</h5>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--/col-->
               </div>
               <!--/row-->
             
            </div>
            <!-- end: Content -->
         </div>
         <!--/row-->       
      </div>
      <!--/container-->
      <div class="modal fade" id="myModal">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Modal title</h4>
               </div>
               <div class="modal-body">
                  <p>Here settings can be configured...</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <div class="clearfix"></div>
      <footer>
         <div class="row">
            
            <!--/.col-->
            <div class="col-sm-7 text-right">
               
            </div>
            <!--/.col-->  
         </div>
         <!--/.row-->  
      </footer>
     
      <script type="text/javascript" src="/assets/build/main.js"></script>
      <!-- end: JavaScript--> 
   </body>
</html>