<input style="background: white; color: black;" type="text" readonly="readonly" id="myInput"/>
    <table class="ui-bar-a" id="n_keypad" style="display: none; -khtml-user-select: none;">
    <tr>
       <td><a data-role="button" data-theme="b" class="numero">7</a></td>
       <td><a data-role="button" data-theme="b" class="numero">8</a></td>
       <td><a data-role="button" data-theme="b" class="numero">9</a></td>
    </tr>
    <tr>
       <td><a data-role="button" data-theme="b" class="numero">4</a></td>
       <td><a data-role="button" data-theme="b" class="numero">5</a></td>
       <td><a data-role="button" data-theme="b" class="numero">6</a></td>
       <td><a data-role="button" data-theme="e" class="clear">Clear</a></td>
    </tr>
    <tr>
       <td><a data-role="button" data-theme="b" class="numero">1</a></td>
       <td><a data-role="button" data-theme="b" class="numero">2</a></td>
       <td><a data-role="button" data-theme="b" class="numero">3</a></td>
       <td><a data-role="button" data-theme="e">&nbsp;</a></td>
    </tr>
    <tr>
       <td><a data-role="button" data-theme="b" class="zero">0</a></td>
        <td><a data-role="button" data-theme="e" class="done">Done</a></td>
    </tr>
    </table>
   