<% include ../header/head.ejs %>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
    <div class="account-container stacked">
    
    <div class="content clearfix">
        
        <form action="/signup" method="post">
        
            <h1>Create Account</h1>        
            
            <div class="login-fields">
                
                
                 <div class="field">
                    <label for="username">First Name:</label>
                    <input type="text" class="form-control input-lg username-field" placeholder="Email" name="first">
                </div>
                <div class="field">
                    <label for="username">Last Name:</label>
                    <input type="text" class="form-control input-lg username-field" placeholder="Email" name="last">
                </div>
                
                <div class="field">
                    <label for="username">Email:</label>
                    <input type="text" class="form-control input-lg username-field" placeholder="Email" name="email">
                </div> <!-- /field -->
                    
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control input-lg password-field"/>
                </div> <!-- /password -->
                
            </div> <!-- /login-fields -->
            
            <div class="login-actions"> 
                
                <span class="login-checkbox">
                    <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                    <label class="choice" for="Field">Auto keep</label>
                </span>
                 <button type="submit" class="login-action btn btn-primary">Create Account</button>                   
               
                
            </div> <!-- .actions -->
            
            
            
        </form>
        
    </div> <!-- /content -->
    
</div> <!-- /account-container -->






	
	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

	

</div>
</div>
